
body{
    background: url(../img/background.png) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}
li{list-style-type:none;}
a:hover{text-decoration: none;color: black;}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);


#login{

    text-align: center;

    color: white;
    font-weight: 300;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
    font-weight: 300;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
    opacity:  1;
    font-weight: 300;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
    opacity:  1;
    font-weight: 300;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    white;
    font-weight: 300;
}

#login h1{
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    font-weight: 200;
}

#login form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

#login input {
    display: block;
    appearance: none;
    outline: 0;
    border: 1px solid;
    border-color: rgba(255,255,255,0.4);
    background-color: rgba(255,255,255,0.2);
    width: 250px;

    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;

    color: white;

    transition-duration: 0.25s;
    font-weight: 300;
}

#login input:hover{
     background-color: rgba(255,255,255,0.4);
 }

#login input:focus{
     background-color: rgba(255,255,255,0.45);
     width: 300px;

     color: white;
 }

#login button {
    appearance: none;
    outline: 0;
    background-color: #863D8A;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}
#login button:hover{
     background-color: #9C458C;
}
#register_anim a{}
.accueil_txt{
    text-align: right;
    color: white;
}
.navbar-brand img{width: 30%;}
.register{display: none;}
.navbar-brand{color: white;}
.navbar-brand:hover{color: white;}
.nav li,a{color:white;}
.menumobile{color:white;}

.form{margin-top:9%;text-align:center;}

#adduser h1{
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    font-weight: 200;
}

#adduser form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

#adduser input {
    outline: 0;
    border: 1px solid;
    border-color: rgba(255,255,255,0.4);
    background-color: rgba(255,255,255,0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
}

#adduser input:hover{
     background-color: rgba(255,255,255,0.4);
 }

#adduser input:focus{
     background-color: rgba(255,255,255,0.45);
     width: 300px;

     color: white;
 }

#adduser button {
    appearance: none;
    outline: 0;
    background-color: #863D8A;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}
#adduser button:hover{
     background-color: #9C458C;
}

.profil{color:white;}
.welcome a{color:black;}
.welcome{background-color:white;}

.graph_container{
  display:block;
  width:600px;
}

table {
		overflow:hidden;
		border:1px solid #d3d3d3;
		background:#fefefe;
		width:70%;
		margin:2% auto 0;
		-moz-border-radius:5px; /* FF1+ */
		-webkit-border-radius:5px; /* Saf3-4 */
		border-radius:5px;
		-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	}

	th, td {padding:18px 28px 18px; text-align:center; }

	th {padding-top:22px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}

	td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}

	tr.odd-row td {background:#f6f6f6;}

	td.first, th.first {text-align:left}

	td.last {border-right:none;}

	/*
	Background gradients are completely unnessary but a neat effect.
	*/

	td {
		background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
		background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
	}

	tr.odd-row td {
		background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
		background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
	}

	th {
		background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
		background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
	}

/* mobile phone */
@media all and (max-width: 768px) {
    .accueil_txt{
        display: none;
    }
    .center{
        margin-top: 50%;
    }
}
@media all and (min-width: 768px) {
    .center {
        margin-top: 20%;
        display: -webkit-flex;
        display:         flex;
        -webkit-align-items: center;
              align-items: center;
        -webkit-justify-content: center;
              justify-content: center;
    }
}
