
.board
{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;

}

td
{
    padding: 0px;
}

.cell
{
    height: 50px;
    width: 100px;
    background-color: white;
    border: 1px solid black;
    text-align:center;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;

     -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;   /* Chrome/Safari/Opera */
      -khtml-user-select: none;    /* Konqueror */
      -moz-user-select: none;      /* Firefox */
      -ms-user-select: none;       /* Internet Explorer/Edge */
      user-select: none;           /* Non-prefixed version, currently
                                      not supported by any browser */
}

.selected
{
    background-color: rgb(255, 249, 142);
}

.rightcell
{
    background-color: rgb(200, 255, 155);
}

.foundedcell
{
    background-color: rgb(200, 255, 155);
}

.wrongcell
{
    background-color: rgb(255, 177, 0);
}

.word {

}

.wordfound
{
    color: green;
    font-weight: bold;
}

#entrywordsbox
{
    width: 400px;
    visibility: hidden;
    text-align: left;
}

#concedebutton
{
    transition: all 0.5s ease-out;
    visibility: hidden;
}

#submitscorebutton
{
    transition: all 0.5s ease-out;
    visibility: hidden;
    display: none;
}

#wordListDiv, #worldList{
    color:white;
}
.remember{margin-top: 5%;}
.remember p{color:white}
